/* Base color scheme */
:root {
	--html-bg: #eceff4;
	--body-bg: #fff;
	--txt-color: #4c566a;

	--h-color: #4c566a;
	
	--a-color: #3b4252;
	--a-hover-color: #2e3440;
	--a-active-color: #bf616a;
	--a-visited-color: #4c566a;
	
	--h-a-color: #0066cc;
	--h-a-hover-color: #0078d7;
	--h-a-active-color: #ee0000;
	--h-a-visited-color: #551a8b;
	
	--code-bg: #f6f6f6;
	--code-br-color:  #ccc;
	
	--output-help-color: #4c566a;
	--output-error-color: #f44336;
	--output-valid-color: #a3be8c;
	
	--place-color: #777;
	
	--label-focus-color: #2b569a;
	--label-error-color: #f44336;
	--label-valid-color: #719e8c;
	
	--input-br: #d8dee9;
	--input-focus-br: #2b569a;
	--input-valid-br: #a3be8c;
	--input-error-br: #bf616a;
	
	--btn-bg: #5e81ac;
	--btn-color: #e5e9f0;
	--btn-hover-color: #eceff4;
	--btn-hover-bg: #4c566a;
	--btn-active-color: #3b4252;
	--btn-active-bg: #d8dee9;
	
	--btn-disable-color: #88c0d0;
	--btn-disable-bg: #d8dee9;
}

/* Simple reset */
*, *::before, *::after {
	box-sizing: border-box;
}

/* Common background */
html {
	background: var(--html-bg);
}

/* Base page */
body {
	font: 400 0.91rem sans-serif;
	color: var(--txt-color);
	background: var(--body-bg);
	border-radius: 0.3rem;
	width: 90%;
	max-width: 60vw;
	margin: 2rem auto;
	padding: 1rem 0;
	line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4, h5, h6, legend {
	color: var(--h-color);
	font-family: Georgia, serif;
	letter-spacing: 0.06rem;
}

h1, h2, h3, legend {
	font-weight: 400;
}

/* Links */
a, label[rel="link"] {
	color: var(--a-color);
	text-decoration: underline;
}

a:hover {
	color: var(--a-hover-color);
	text-decoration: none;
}

a:active {
	color: var(--a-active-color);
}

a:visited {
	color: var(--a-visited-color);
}

:is(h1,h2,h3,h4,h5,h6) a {
	text-decoration: none;
	color: var(--h-a-color);
}

:is(h1,h2,h3,h4,h5,h6) a:hover {
	color: var(--h-a-hover-color);
	text-decoration: underline;
}

:is(h1,h2,h3,h4,h5,h6) a:active {
	color: var(--h-a-active-color);
}

:is(h1,h2,h3,h4,h5,h6) a:visited {
	color: var(--h-a-visited-color);
}


/* Block content */
h1, h2, h3, h4, h5, h6, p {
	margin: 0 2rem;
}

* + p {
	margin-top: 1rem;
}

pre, code {
	font: inherit;
	font-family: "Menlo", "Consolas", monospace;
	border: 1px solid var(--code-br-color);
	border-radius:0.3rem;
	background: var(--code-bg);
}

pre {
	padding:0.7rem 1rem;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

code {
	padding:0.1rem 0.3rem;
}

.columns {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
}

form .columns {
	margin-top: 1rem;
}

/* Content forms */
main form {
	width: 90%;
	margin: 1rem auto;
}

legend {
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
}

input, textarea, select:not(span[rel="bound"] select), span[rel="bound"] {
	font: inherit;
	line-height: inherit;
	color: inherit;
	border-radius: 0.3rem;
}

form p {
	position: relative;
	margin: 1rem 0;
}

.columns p {
	margin: 0;
}

.columns p + p {
	margin-top: 0;
}

a, label[for], summary, select, 
input:is([type="submit"],[type="button"],[type="reset"]) {
	cursor: pointer;
}

/* Form labels */
label[for], output {
	display: block;
	user-select: none;
}

::placeholder, :empty:before {
	color: var(--place-color);
}

:focus-within {
	outline: none;
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]) ~ label[for],
textarea ~ label[for], select ~ label[for], [contenteditable] ~ label[for] {
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	left: 0.8rem;
	top: 15%;
	padding: 0;
	transition: 250ms;
	pointer-events:none;
}

textarea[rows] ~ label[for] {
	top: 0.5rem;
}

input:is([type="checkbox"],[type="radio"]), 
input:is([type="checkbox"],[type="radio"]) ~ label {
	display: inline-block;
	cursor: pointer;
}

/* Validation status hinting */
input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):focus ~ label[for],
textarea:focus ~ label[for], [contenteditable]:focus ~ label[for], input.active ~ label[for], 
input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):not(:placeholder-shown) ~ label[for],
input:is([type="datetime-local"]):not([value=""]) ~ label[for],
textarea:not(:placeholder-shown) ~ label[for], select ~ label[for], [contenteditable]:not(:empty) ~ label[for]
{
	top: -0.5rem;
	background: #fff;
	font-size: 75%;
	transition: 250ms;
	color: var(--label-focus-color);
	font-weight: 600;
	padding: 0 0.4rem;
}

input:is([type="text"],[type="password"],[type="search"],
	 [type="number"],[type="url"],[type="datetime-local"]):not(:placeholder-shown):invalid ~ label[for], 
input.error ~ label[for], textarea:not(:placeholder-shown):invalid ~ label[for], 
select:not(:placeholder-shown):invalid ~ label[for] {
	color: var(--label-error-color);
}

input:is([type="text"],[type="password"],[type="search"],
	 [type="number"],[type="url"],[type="datetime-local"]):not(:placeholder-shown):valid ~ label[for],
textarea:not(:placeholder-shown):valid ~ label[for], 
select:not(:placeholder-shown):valid ~ label[for] {
	color: var(--label-valid-color);
}

/* Validation messaging */
output {
	font-size: 90%;
}

input:is([type="checkbox"],[type="radio"]) ~ label + output {
	display: inline-block;
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):not([required]):placeholder-shown:valid ~ output:after,
textarea:not([required]):placeholder-shown:valid ~ output:after, 
select:not([required]):placeholder-shown:valid ~ output:after, output:after {
	color: var(--output-help-color);
	content: attr(data-help);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):not(:placeholder-shown):invalid ~ output:after,
textarea:not(:placeholder-shown):invalid ~ output:after, 
select:not(:placeholder-shown):invalid ~ output:after,
input:is([type="checkbox"],[type="radio"]):invalid ~ label + output:after {
	color: var(--output-error-color);
	content: attr(data-invalid);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):valid ~ output:after, 
textarea:valid ~ output:after, 
input:is([type="checkbox"],[type="radio"]):valid ~ label + output:after, 
select:valid ~ output:after {
	color: var(--output-valid-color);
	content: attr(data-valid);
}

/* Form inputs */
input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]), 
textarea, select:not(span[rel="bound"] select), span[rel="bound"] {
	background: #fff;
	border: 0.1rem solid var(--input-br);
	padding: 0.5rem;
}

/* Dropdown selects */
select:not(span[rel="bound"] select) {
	padding: 0.7rem 0.6rem;
	cursor: pointer;
}

main input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]), 
main textarea, main select:not(span[rel="bound"] select) {
	display: block;
	width: 100%;
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):focus, 
textarea:focus, select:not(span[rel="bound"] select):focus, 
span[rel="bound"]:focus-within, input.active {
	border-color: var(--input-focus-br);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):not(:placeholder-shown):invalid, 
textarea:not(:placeholder-shown):invalid, 
select:not(span[rel="bound"] select):not(:placeholder-shown):invalid {
	border-color: var(--input-error-br);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):not(:placeholder-shown):valid, 
textarea:not(:placeholder-shown):valid, 
select:not(:placeholder-shown):valid {
	border-color: var(--input-valid-br);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"],[type="datetime-local"]):not(:placeholder-shown):valid:focus, 
textarea:not(:placeholder-shown):valid:focus, 
select:not(:placeholder-shown):valid:focus {
	border-color: var(--input-focus-br);
}

/* Dropdown selects */
select:not(span[rel="bound"] select) {
	padding: 0.7rem 0.6rem;
	cursor: pointer;
}

main input:is([type="text"],[type="password"],[type="search"],[type="number"],[type="url"]), 
main textarea, main select:not(span[rel="bound"] select) {
	display: block;
	width: 100%;
}

input:is([type="text"],[type="password"],[type="search"],[type="number"],[type="url"]):focus, 
textarea:focus, select:not(span[rel="bound"] select):focus, 
span[rel="bound"]:focus-within, input.active {
	border-color: var(--input-focus-br);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"]):not(:placeholder-shown):invalid, 
textarea:not(:placeholder-shown):invalid, 
select:not(span[rel="bound"] select):not(:placeholder-shown):invalid {
	border-color: var(--input-error-br);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"]):not(:placeholder-shown):valid, 
textarea:not(:placeholder-shown):valid, 
select:not(:placeholder-shown):valid {
	border-color: var(--input-valid-br);
}

input:is([type="text"],[type="password"],[type="search"],
	[type="number"],[type="url"]):not(:placeholder-shown):valid:focus, 
textarea:not(:placeholder-shown):valid:focus, 
select:not(:placeholder-shown):valid:focus {
	border-color: var(--input-focus-br);
}

/* Input buttons */
input:is([type="submit"],[type="reset"],[type="button"]), button, .btn {
	background: var(--btn-bg);
	border: 0.1rem solid var(--btn-bg);
	color: #fff;
	padding: 0.2rem 1rem;
	cursor: pointer;
}

input:is([type="submit"],[type="reset"],[type="button"]):hover, button:hover, .btn:hover {
	background: var(--btn-hover-bg);
	border-color: var(--btn-hover-bg);
	color: var(--btn-hover-color);
	box-shadow: 0.1rem 0.1rem 0.1rem var(--btn-hover-color);
}

input:is([type="submit"],[type="reset"],[type="button"]):focus, button:focus, .btn:focus {
	background: var(--btn-active-bg);
	border-color: var(--btn-active-bg);
	color: var(--btn-active-color);
}

form:invalid input:is([type="submit"],[type="reset"],[type="button"]), 
input:is([type="submit"],[type="reset"],[type="button"]):disabled, 
form:invalid button, button:disabled, form:invalid .btn, .btn:disabled {
	background: var(--btn-disable-bg);
	border-color: var(--btn-disable-bg);
	color: var(--btn-disable-color);
	cursor: not-allowed;
}

/* Editable (bounded) select */
span[rel="bound"] {
	padding: 0;
}

span[rel="bound"] input {
	padding: 0.5rem;
}

span[rel="bound"] :is(input, select)  {
	border: 0;
	margin: 0;
}

span[rel="bound"] select {
	background: inherit;
	font: inherit;
	padding: 0;
}

span[rel="bound"] {
	display: inline-grid;
	gap: 0;
	padding: 0;
	grid-template-columns: calc(100% - 1.2rem) 1rem;
}

@media (max-width: 1024px) {
body {
	width: 90%;
	max-width: 80vw;
}
}

@media (max-width: 800px) {
body {
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
}
}

@media (max-width: 640px ) {
.columns {
	display: block;
}

.columns p + p {
	margin-top: 1rem;
}
}
